<h1>Editing candidate</h1>

<% form_for(@candidate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :state_code %><br />
    <%= f.text_field :state_code %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :constituency %><br />
    <%= f.text_field :constituency %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </p>
  <p>
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %>
  </p>
  <p>
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %>
  </p>
  <p>
    <%= f.label :city_town_village %><br />
    <%= f.text_field :city_town_village %>
  </p>
  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :party %><br />
    <%= f.text_field :party %>
  </p>
  <p>
    <%= f.label :symbol_no %><br />
    <%= f.text_field :symbol_no %>
  </p>
  <p>
    <%= f.label :postal_votes %><br />
    <%= f.text_field :postal_votes %>
  </p>
  <p>
    <%= f.label :evm_votes %><br />
    <%= f.text_field :evm_votes %>
  </p>
  <p>
    <%= f.label :total_votes %><br />
    <%= f.text_field :total_votes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @candidate %> |
<%= link_to 'Back', candidates_path %>