<p>
  <b>Birth place:</b>
  <%=h @member.birth_place %>
</p>

<p>
  <b>Countries visited:</b>
  <%=h @member.countries_visited %>
</p>

<p>
  <b>Mothers name:</b>
  <%=h @member.mothers_name %>
</p>

<p>
  <b>Party name:</b>
  <%=h @member.party_name %>
</p>

<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Present address:</b>
  <%=h @member.present_address %>
</p>

<p>
  <b>No of daughters:</b>
  <%=h @member.no_of_daughters %>
</p>

<p>
  <b>No of sons:</b>
  <%=h @member.no_of_sons %>
</p>

<p>
  <b>Profession:</b>
  <%=h @member.profession %>
</p>

<p>
  <b>Party code:</b>
  <%=h @member.party_code %>
</p>

<p>
  <b>Books published:</b>
  <%=h @member.books_published %>
</p>

<p>
  <b>Other information:</b>
  <%=h @member.other_information %>
</p>

<p>
  <b>Special interests:</b>
  <%=h @member.special_interests %>
</p>

<p>
  <b>Marital status:</b>
  <%=h @member.marital_status %>
</p>

<p>
  <b>Birth date:</b>
  <%=h @member.birth_date %>
</p>

<p>
  <b>Marriage date:</b>
  <%=h @member.marriage_date %>
</p>

<p>
  <b>Permanent address:</b>
  <%=h @member.permanent_address %>
</p>

<p>
  <b>Education:</b>
  <%=h @member.education %>
</p>

<p>
  <b>Fathers name:</b>
  <%=h @member.fathers_name %>
</p>

<p>
  <b>Spouse name:</b>
  <%=h @member.spouse_name %>
</p>

<p>
  <b>Constituency:</b>
  <%=h @member.constituency %>
</p>

<p>
  <b>State:</b>
  <%=h @member.state %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>